body {
    overflow-x: hidden;
    background-color: #121212;
    /*background-image: url('/grey-black-texture-concrete.jpg');*/

    /*!* Ensure the texture covers the whole background and repeats *!*/
    /*background-size: cover;*/

    /*!* Optional: Set it to repeat if your texture is designed to tile seamlessly *!*/
    /*background-repeat: repeat;*/

    /*!* Optional: Set the background attachment to fixed if you want the texture to stay in place while scrolling *!*/
    /*background-attachment: fixed;*/
}
/* Global Scrollbar Styles for Webkit Browsers */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 8px; /* Adjust the width for the whole page scrollbar */
}

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: rgba(5, 5, 5, 0.25); /* Light grey track for the whole page */
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background: #242424; /* Dark grey handle for the whole page */
}

html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker grey handle on hover for the whole page */
}
.card {
    border: none;
    color: #E0E0E0;
    background: #242424;
    box-shadow: 0 10px 32px 0 #1DB9C3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}
.navbar-custom, .footer {
    background-color: #242424;
    color: #000000;

}
.pageheader{
    color: #1DB9C3;
    text-align: center;
    padding-top: 10px;
}
.nav-link{
    border-radius: 10px;
    transition: background-color 0.49997776692s ease;
}
.nav-link:hover{
    color: #000000 !important;
    background: #08fce6;
    border-radius: 10px;
}

.banner{
    background-color: rgba(5, 5, 5, 0.25);
    color: #000000;
}
.navbar-brand, .link-secondary {
    color: #ffffff;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: xxx-large;
}
.navbar-brand:hover{
    color: #1DB9C3;
}
.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.pad{
    padding-top: 0px;
    padding-bottom: 1px;
}
.select {
    width: 200px;
    padding-left: 0px;
}
.image-container, .output-container {
    color: #1DB9C3;
    flex: 1;
}
#convolution-matrix input, #iterations {
    width: 3em;
    padding-left: 0px;
    text-align: center;
    -webkit-appearance: checkbox;
    margin: 1px;
}
#convolution-matrix input::-webkit-outer-spin-button,
#convolution-matrix input::-webkit-inner-spin-button {
    display: none;
}
.form-control-file {
    width: auto;
}
@media (min-width: 786px) {
    .form-control-file {
        width: 300px;
    }
}
.icons:hover span {
    color: #1DB9C3 !important; /* Color on hover */
}

.footer{
    color: #E0E0E0;
    font-family:  'Nunito', sans-serif;
}
.footer-text{
    color: #E0E0E0;
}
.freetext{
    color: #E0E0E0;
}
.fixed-height-card .card-body {
    height: 439px; /* Adjust this height as necessary */
    overflow-y: auto; /* Adds a scrollbar when content overflows */
}
.fixed-height-card .card-body::-webkit-scrollbar {
    width: 5px; /* Scrollbar width */
}

.fixed-height-card .card-body::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 1000px;
}

.fixed-height-card .card-body::-webkit-scrollbar-thumb {
    background: rgba(59, 160, 168, 0.96); /* Scrollbar handle color */
    border-radius: 1000px;
}
.fixed-height-card .card-body::-webkit-scrollbar-corner {
    background: transparent; /* Set the background color of the scrollbar corner */
}
.fixed-height-card .card-body::-webkit-scrollbar-thumb:hover {
    background: #49c2cb; /* Scrollbar handle color on hover */
}
.tab{
    background-color: #121212;
}
.links{
    color: #1DB9C3;
}
.links:hover {
    color: #011473 !important; /* Color on hover */
}
.links:visited {
    color: #1DB9C3; /* Color for visited links, can be the same or different */
}
.hr{
    height: 5px;
    background-color: #00eeff;
    box-shadow: 0 10px 32px 0 #ffffff;
}

/* Added styles */
.btn-primary{
    background-color: #1DB9C3;
}
.matrix-col .t-div { /* Targeting the specific divs */
    padding: 5px; /* Removes padding */
}
.row.t-row {
    margin-right: 0px; /* Removes the right margin of the row */
    margin-left: 0px; /* Removes the left margin of the row */
}
.matrix-col .t-div input {
    border-radius: 10px;
}
#save-button {
    display: none;
}
